@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display&display=swap');

.navbar-brand, .custom-footer {
    font-family: 'Playfair Display', serif;
}

#logo {
    height: 5rem;
}

.card>.img-custom {
    height: 200px;
    object-fit: cover;
}

#navbarNav {
    font-family: 'Cutive Mono', monospace;
}

.card-body .far, .card-body .fas {
    width: 2rem;
}

.card-footer .far {
    width: 1.2rem;
    text-align: left;
}

@media (max-width: 767.98px) { 

    .card>.img-custom {
        display: none;
    }
}