@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display&display=swap');

/* -------- Navbar --------  */
.navbar-brand, .custom-footer {
    font-family: 'Playfair Display', serif;
}

#logo {
    height: 5rem;
}

.nav-link {
    white-space: nowrap;
    font-family: 'Cutive Mono', monospace;
    color: inherit;
    padding: 0.5rem;
}

.custom-font {
    font-family: 'Cutive Mono', monospace;
}


/* -------- Cards --------  */
.card {
    border-style: solid;
    border-width: 35px 35px 10px 35px;
    -moz-border-image: url(../img/post-it.png) 35 35 10 35 repeat repeat;
    -webkit-border-image: url(../img/post-it.png) 35 35 10 35 repeat repeat;
    -o-border-image: url(../img/post-it.png) 35 35 10 35 repeat repeat;
    border-image: url(../img/post-it.png) 35 35 10 35 repeat repeat;
}

.card-body, .card-footer, .list-group-item {
    background-color: #FDFBEE;
}

.card .list-group {
    border-width: 0px;
}

.card>.img-custom {
    height: 200px;
    object-fit: cover;
}

.far, .fas {
    width: 2rem;
}

/* Specificity battle with Bootstrap... */
.col>.card>.card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer .far {
    width: 1.2rem;
    text-align: left;
}

/* -------- Responsive -------- */
@media (max-width: 767.98px) { 

    .card>.img-custom {
        display: none;
    }
}

@media (max-width: 575.98px) { 

    .nav-link {
        padding: 0.2rem;
        font-size: 0.8rem;
    }
}